/*

Stephen Luc Personal Website CSS

*/

:root {
  --main-color: #21b6ff;
  --secondary-color: #99FEA3;
  --tertiary-color: #4DCA59;
  --quaternary-color: #8EC2FE;
  --background-color: #2A2A2F;
  --defaut-text-color: #ffffff;
  --grey-text-color: #DCDCDC;
}

body {
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 2em;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1 {
  color: var(--secondary-color);
  font-size: 1.5em;
  font-weight: normal;
  margin: 0px;
}

p {
  margin-top: 0px;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.header {
  display: flex;
  flex-direction: row;
  color: var(--defaut-text-color);
  font-size: 2em;
  border-bottom-width: 1px;
  border-bottom-color: var(--grey-text-color);
  text-decoration: none !important;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav-item {
  color: var(--defaut-text-color);
  font-size: 1.5em;
}

.nav-margin {
  margin-bottom: 25px;
}

.unselected {
  text-decoration: none !important;;
}

.main-text {
  color: var(--main-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.tertiary-text {
  color: var(--tertiary-color);
}

.quaternary-text {
  color: var(--quaternary-color);
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 800px;
}

.content {
  color: var(--grey-text-color);
  font-size: 1em;
  padding-left: 25px;
}

.subtext {
  font-size: 1.25em;
}

.row {
  display: flex;
  flex-direction: row;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 15px;
}

/* Smartphone sizes */
@media (max-width: 650px) {
  body {
    padding: 1em;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    font-size: 1.25em;
  }

  .nav-margin {
    margin-right: 25px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    color: var(--grey-text-color);
    font-size: 1em;
    padding-left: 0px;
  }
}

