/*
Stephen Luc Personal Website CSS
*/

:root {
  --main-color: #21b6ff;
  --secondary-color: #99FEA3;
  --tertiary-color: #4DCA59;
  --quaternary-color: #8EC2FE;
  --background-color: #2A2A2F;
  --white-color: #ffffff;
  --content-color: #DCDCDC;
  --subtext-color: #B4B4B5;
}

body {
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    padding: 2em;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1 {
  color: var(--secondary-color);
  font-size: 1.5em;
  font-weight: normal;
  margin: 0px;
}

p {
  margin-top: 0px;
}

/*---------------------------------------
    General               
-----------------------------------------*/
.header {
  margin-bottom: 30px;
}

.header a {
  flex-direction: row;
  color: var(--white-color);
  font-size: 2em;
  text-decoration: none !important;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  color: var(--white-color);
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-margin {
  margin-right: 20px;
  margin-bottom: 20px;
}

.unselected {
  text-decoration: none !important;;
}

.main-text {
  color: var(--main-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.tertiary-text {
  color: var(--tertiary-color);
}

.quaternary-text {
  color: var(--quaternary-color);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.content {
  display: flex;
  flex-direction: column;
  color: var(--content-color);
  font-size: 1em;
  padding-top: 5px;
}

.subtext {
  font-size: .8em;
  color: var(--subtext-color);
}

.secondary-header {
  font-size: 1.25em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.margin-bottom {
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 15px;
}

.margin-right {
  margin-right: 15px;
}

/* Smartphone sizes */
@media (max-width: 650px) {
  body {
    padding: 1em;
  }

  .nav-item {
    font-size: 1.15em;
  }

  .nav-margin {
    margin-right: 15px;
  }
}

@media (max-width: 400px) {
  .nav-item {
    font-size: 1.1em;
  }

  .nav-margin {
    margin-right: 10px;
  }
}
