<section id="about" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInDown col-md-6 col-sm-6" data-wow-delay="0.2s">
				<h3>Hey, here is a bit about myself</h3>
				<p>I'm in my third year of studies at the University of Toronto, pursuing a major in Computer Science with a specialization in Software Engineering.</p>
				<p>I'm currently interning at <a class='outside-link' href="https://www.facebook.com/pg/facebook/about/?ref=page_internal" target="_blank">Facebook</a> and my previous internships were at <a class='outside-link' href="https://zanbato.com/" target="_blank">Zanbato</a> and <a class='outside-link' href="http://www.brainvision.ca/" target="_blank">BrainVision</a>. I have experience in Software Engineering, Data Engineering, Full-Stack Web Development and Andriod Mobile Development</p>
				<p>I'm always down to play any sport like frisbee, ice hockey, volleyball and basketball or go hike Yosemite. However, if that isn't your cup of tea, I also love playing board games, as well!</p>
			</div>
					
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.5s">
				<img src="/assets/images/head_shot.jpg" class="img-responsive" alt="Overview">
			</div>

		</div>
	</div>
</section>