<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class='intro-title wow fadeIn' data-wow-delay="0.5s">
				<h1 class='static-text'>I am</h1>
				<h1 class='dynamic-text' id='dynamic-text'></h1>
			</div>
		</div>
	</div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
  new Typed('#dynamic-text', {
    strings: [
    	'Stephen Luc', 
    	'a Student', 
    	'a Developer', 
    	'an Adventurer',],
    typeSpeed: 50,
    backSpeed: 50,
    backDelay: 1200,
    startDelay: 10,
    smartBackspace: true,
    loop: true,
    cursorChar: '',
  });
});
</script>