<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class='intro-title wow fadeInUp' data-wow-delay="0.5s">
				<h1 id='static-text'>I am</h1>
				<h1 id='dynamic-text'></h1>
			</div>
		</div>
	</div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
  new Typed('#dynamic-text', {
    strings: [
    	'<u>Stephen Luc</u>', 
    	'<u>a Student</u>', 
    	'<u>a Developer</u>', 
    	'<u>an Adventurer</u>'],
    typeSpeed: 50,
    backSpeed: 50,
    backDelay: 1000,
    startDelay: 10,
    smartBackspace: true,
    loop: true,
    cursorChar: '',
  });
});
</script>