<section id="resume" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeIn col-md-7 col-sm-7" data-wow-delay="0.6s">
				<h2>Check out my resume</h2>
				<h3>You can view my past experiences and projects that I have worked on.</h3>
			</div>

			<div class="resume-btn wow BounceInRight col-md-5 col-sm-5" data-wow-delay="1s">
				<a href="/resume/StephenLucResume.pdf" target="_blank" class="form-control" id="submit">RESUME</a>
			</div>

			<div class="col-md-1"></div>

		</div>
	</div>
</section>